body {
    background: aqua;
}

.container {
    width: 300px;
    margin: 20px auto;
    height: 300px;
    display: grid;
    grid-gap: 4px;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px;
    background: black;
}

.item {
    background: #F3F3F3;
}

.button {

}

.header{
    text-align: center;
}

.playerO {
    background-image: url('Opera_O.png');
}

.playerX {
    background-image: url('x-png-33.png');
}
.one {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.two {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}

.three {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.four {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

}

.five {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.six {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.seven {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

.eight {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}
.nine {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}
